*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* Primary Colors */
    --linear-gradient: linear-gradient(
        hsl(249, 99%, 64%) to hsl(278, 94%, 30%)
    );
    --input-error: hsl(0, 100%, 66%);

    /* Neutral Colors */
    --White: hsl(0, 0%, 100%);
    --Light-grayish-violet: hsl(270, 3%, 87%);
    --Dark-grayish-violet: hsl(279, 6%, 55%);
    --Very-dark-violet: hsl(278, 68%, 11%);
}

body {
    font-size: 1.125rem;
    font-family: "Space Grotesk";
    font-weight: 500;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
